button,
input,
optgroup,
select,
textarea {
  font-family: css-variable(font-sans-serif);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-normal;
}

a {
  color: $primary;
  &:hover,
  &:focus {
    color: $primary;
  }
}
